apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: order-service-servicemonitor
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: order
  namespaceSelector:
    any: true
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
