apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: notification-service-servicemonitor
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: notification-service
  namespaceSelector:
    any: true
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
