apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: food-delivery-server-servicemonitor
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: food-delivery-server
  namespaceSelector:
    any: true
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
